[Desktop Entry]
Exec=kcmshell5 breezewaydecorationconfig
Icon=preferences-system-windows
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=org.kde.kdecoration2/breezewaydecoration
X-KDE-ParentApp=kcontrol
X-KDE-Weight=60

Name=Breezeway Window Decoration
Name[ar]=زخرفة نوافذ نسيم
Name[az]=Breezeway Pəncərə Tərtibatı
Name[bg]=Декорации на прозорци Breezeway
Name[ca]=Decoració de les finestres Brisa
Name[ca@valencia]=Decoració de les finestres Brisa
Name[cs]=Dekorace oken Breezeway
Name[da]=Breezeway vinduesdekoration
Name[de]=Breezeway-Fensterdekoration
Name[el]=Διακοσμήσεις παραθύρου Breezeway
Name[en_GB]=Breezeway Window Decoration
Name[es]=Decoración de ventanas Brisa
Name[et]=Breezeway akna dekoratsioon
Name[eu]=Breezeway leihoen apaindura
Name[fi]=Breezeway-ikkunankehys
Name[fr]=Décoration de fenêtre Brise
Name[gl]=Decoración de xanela de Breezeway
Name[hi]=ब्रीज़ विंडो सजावट
Name[hu]=Breezeway ablakdekoráció
Name[ia]=Decoration de fenestra Breezeway
Name[id]=Dekorasi Jendela Breezeway
Name[it]=Decorazione delle finestre di Brezza
Name[ja]=Breezeway ウィンドウ装飾
Name[ko]=Breezeway 창 장식
Name[lt]=Breezeway langų dekoracija
Name[nl]=Breezeway vensterdecoratie
Name[nn]=Breezeway-vindaugsdekorasjon
Name[pa]=ਬਰੀਜ਼ ਵਿੰਡੋ ਸਜਾਵਟ
Name[pl]=Wygląd okien Bryzy
Name[pt]=Decoração de Janelas Brisa
Name[pt_BR]=Decorações da janela Breezeway
Name[ro]=Decorații pentru ferestre Briză
Name[ru]=Оформление окон Breezeway
Name[sk]=Dekorácie okien v štýle Vánok
Name[sl]=Okraski oken Sapica
Name[sr]=Поветарчева декорација прозора
Name[sr@ijekavian]=Поветарчева декорација прозора
Name[sr@ijekavianlatin]=Povetarčeva dekoracija prozora
Name[sr@latin]=Povetarčeva dekoracija prozora
Name[sv]=Breezeway fönsterdekoration
Name[tg]=Ороиши равзанаи Насим
Name[tr]=Esinti Pencere Dekorasyonu
Name[uk]=Декорації вікон Breezeway
Name[x-test]=xxBreezeway Window Decorationxx
Name[zh_CN]=Breezeway 微风窗口装饰
Name[zh_TW]=Breezeway 視窗裝飾
Comment=Modify the appearance of window decorations
Comment[ar]=عدّل مظهر زخرفات النّوافذ
Comment[az]=Pəncərə tərtibatının görünüşünü dəyişdirin
Comment[bg]=Настройване на външния изглед на прозорците
Comment[ca]=Modifica l'aparença de les decoracions de les finestres
Comment[ca@valencia]=Modifica l'aparença de les decoracions de les finestres
Comment[cs]=Změnit vzhled dekorace oken
Comment[da]=Ændr vinduesdekorationers udseende
Comment[de]=Das Erscheinungsbild der Fensterdekoration ändern
Comment[el]=Τροποποίηση εμφάνισης της διακόσμησης παραθύρου
Comment[en_GB]=Modify the appearance of window decorations
Comment[es]=Modificar el aspecto de las decoraciones de las ventanas
Comment[et]=Akna dekoratsioonide välimuse muutmine
Comment[eu]=Aldatu leiho apainduren itxura
Comment[fi]=Muuta ikkunoiden kehysten ulkoasua
Comment[fr]=Modifier l'apparence des décorations des fenêtres
Comment[gl]=Modifica a aparencia da decoración da xanela
Comment[he]=התאם את מראה מסגרות החלונות
Comment[hi]=विंडो सजावटों की दिखावट को परिवर्तित करें
Comment[hu]=Az ablakdekorációk megjelenésének módosítása
Comment[ia]=Modifica le apparentia de decorationes de fenestra
Comment[id]=Memodifikasi penampilan dekorasi jendela
Comment[it]=Modifica l'aspetto delle decorazioni delle finestre
Comment[ja]=ウィンドウ装飾の外観を編集
Comment[ko]=창 장식의 모습을 수정합니다
Comment[lt]=Keisti lango dekoracijų išvaizdą
Comment[nb]=Endre utseende for vindusdekorasjoner
Comment[nl]=Wijzig het uiterlijk van vensterdecoraties
Comment[nn]=Endra utsjånad på vindaugspynt
Comment[pa]=ਵਿੰਡੋ ਸਜਾਵਟ ਦੀ ਦਿੱਖ ਨੂੰ ਸੋਧੋ
Comment[pl]=Zmień wygląd i wystrój okien
Comment[pt]=Modificar a aparência das decorações das janelas
Comment[pt_BR]=Modifica a aparência das decorações da janela
Comment[ro]=Modifică aspectul decorațiilor pentru ferestre
Comment[ru]=Настройка заголовков окон в стиле Breezeway
Comment[sk]=Zmena vzhľadu dekorácie okien
Comment[sl]=Spremenite videz okraskov oken
Comment[sr]=Измените изглед декорација прозора
Comment[sr@ijekavian]=Измијените изглед декорација прозора
Comment[sr@ijekavianlatin]=Izmijenite izgled dekoracija prozora
Comment[sr@latin]=Izmenite izgled dekoracija prozora
Comment[sv]=Ändra utseendet hos fönsterdekorationer
Comment[tg]=Тағйир додани ороиши намуди зоҳирии равзанаҳо
Comment[tr]=Pencere dekorasyonlarının görünümünü değiştir
Comment[uk]=Зміна вигляду декорацій вікон
Comment[x-test]=xxModify the appearance of window decorationsxx
Comment[zh_CN]=修改窗口装饰外观
Comment[zh_TW]=變更視窗裝飾外觀
X-KDE-Keywords=breezeway,decoration
X-KDE-Keywords[ar]=نسيم,زخرفة
X-KDE-Keywords[az]=breezeway,dekorasiya
X-KDE-Keywords[bg]=breezeway,декорации
X-KDE-Keywords[ca]=breezeway,brisa,decoració
X-KDE-Keywords[ca@valencia]=breezeway,brisa,decoració
X-KDE-Keywords[cs]=breezeway,dekorace
X-KDE-Keywords[da]=breezeway,dekoration
X-KDE-Keywords[de]=Dekoration
X-KDE-Keywords[el]=breezeway,διακόσμηση
X-KDE-Keywords[en_GB]=breezeway,decoration
X-KDE-Keywords[es]=breezeway,brisa,decoración
X-KDE-Keywords[et]=breezeway,dekoratsioon
X-KDE-Keywords[eu]=breezeway,apainketa,apaindura
X-KDE-Keywords[fi]=breezeway,decoration,kehys,koriste,koristus,ikkunakehys
X-KDE-Keywords[fr]=brise,décoration
X-KDE-Keywords[gl]=breezeway,decoración
X-KDE-Keywords[he]=breezeway,decoration,מסגרת
X-KDE-Keywords[hi]=ब्रीज़, सजावट
X-KDE-Keywords[hu]=breezeway,dekoráció
X-KDE-Keywords[ia]=breezeway,decoration
X-KDE-Keywords[id]=breezeway,dekorasi
X-KDE-Keywords[it]=brezza,decorazione
X-KDE-Keywords[ja]=breezeway,decoration
X-KDE-Keywords[ko]=breezeway,decoration,장식
X-KDE-Keywords[lt]=breezeway,dekoracija
X-KDE-Keywords[nb]=beeze,dekorasjon
X-KDE-Keywords[nl]=breezeway,decoratie
X-KDE-Keywords[nn]=breezeway,dekorasjonar,pynt
X-KDE-Keywords[pa]=ਬਰੀਜ਼,ਸਜਾਵਟ
X-KDE-Keywords[pl]=breezeway,dekoracja,bryza,wystrój
X-KDE-Keywords[pt]=brisa,decoração
X-KDE-Keywords[pt_BR]=breezeway,decoração
X-KDE-Keywords[ro]=briză,breezeway,decorare,decorație
X-KDE-Keywords[ru]=breezeway,бриз,decoration,декорации окон,оформление окон
X-KDE-Keywords[sk]=vánok,dekorácia
X-KDE-Keywords[sl]=sapica,okraski
X-KDE-Keywords[sr]=breezeway,decoration,Поветарац,декорација
X-KDE-Keywords[sr@ijekavian]=breezeway,decoration,Поветарац,декорација
X-KDE-Keywords[sr@ijekavianlatin]=breezeway,decoration,Povetarac,dekoracija
X-KDE-Keywords[sr@latin]=breezeway,decoration,Povetarac,dekoracija
X-KDE-Keywords[sv]=breezeway,dekoration
X-KDE-Keywords[tg]=насим,ороиш
X-KDE-Keywords[tr]=esinti,dekorasyon
X-KDE-Keywords[uk]=breezeway,decoration,бриз,декорації,декорація,обрамлення
X-KDE-Keywords[x-test]=xxbreezewayxx,xxdecorationxx
X-KDE-Keywords[zh_CN]=breezeway,微风,装饰,修饰
X-KDE-Keywords[zh_TW]=breezeway,decoration
